@page "/"
@using GameClient
<PageTitle>Game Catalog</PageTitle>

@if (client.getGames() is not null)
{
     <table class="table table-striped table-bordered table-hovera mt-4">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th class="text-end">Price</th>
            <th>Release Date</th>
        </thead>
        <tbody>
            @foreach (var game in client.getGames())
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("c2")</td>
                    <td>@game.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p><em>Loading</em></p>
}
@code {
    private GamesClient client = new();

}
